# Maven
target/
*.class
*.jar
*.war

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Variáveis de ambiente / segredos
.env
application-local.properties
application-prod.properties

# Docker volumes locais
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db